header {
    padding: 2em;
    color: white;
    background-color: rosybrown;
    clear: left;
    text-align: center;
}

footer {
    padding: 2em;
    color: white;
    background-color: rosybrown;
    clear: left;
    text-align: center;
    float: bottom;
}

body{
    width: 100%;
    min-height: 560px;
}


nav {
    float: left;
    width: 250px;
    min-height: 560px;
    margin: 0;
    padding: 1em;
    background-color: mistyrose;
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 170px;
}
   
nav ul a {
    text-decoration: none;
    padding: 0;
    width: 170px;

}

article {
    margin-left: 170px;
    min-height: 450px;
    /*border-left: 1px solid gray;*/
    padding: 1em;
    overflow: hidden;
}

header .logo {
    float: left;
    border-radius: 0em;
    display: inline-block;
    vertical-align: top;
    width: 6em;
}

header .titulo{
    font-size: 1.7em;
    font-weight: 150;
    vertical-align: center;

}


header .subtitulo{
    font-size: 1.5em;
    font-weight: 100;
    vertical-align: center;

}

header .user-logged {
    text-align: right;
    vertical-align: top;
}



header .form-logging {
    vertical-align: top;
    float: right;
}

body {
    background-color: #E6E6E6; 
    font-family: "Helvetica Neue",  Helvetica, Arial, sans-serif; 
    color: #610B38
} 

h3 {
    font-size: 1.5em; 
    font-weight: 200; 
    margin-top: 30px; 
    text-align: center; 
    letter-spacing: -1px;
    color: #999;}

p {
    font-size: 1.3em; 
    font-weight: 170; 
    text-align: center; 
    color: #999;
    margin-top: 30px;
}

}

div { 
    margin: .7em 0;
}
div label { 
    width: 15%; 
    float: left;
}

.button {
    background-color: slategrey; /* Green */
    border: 2px solid slategrey;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.navbar-default .navbar-brand {
    color: #d6d6d6;
} 

.nav-item-active .nav-link{
    color: white;
}


.nav-item .nav-link{
    color: darkslategrey;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

table .mostrar{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    float:center;
    text-align:center;
    width:500px;
    margin: 50px auto;

}




